@model WebApplication1.Models.Route
@{
    ViewData["Title"] = "Добавить маршрут";
}

<h1 class="mb-3">Добавить маршрут</h1>

<form asp-action="Create" method="post" class="card p-4">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="Origin" class="form-label"></label>
        <input asp-for="Origin" class="form-control" />
        <span asp-validation-for="Origin" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Destination" class="form-label"></label>
        <input asp-for="Destination" class="form-control" />
        <span asp-validation-for="Destination" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
