@model WebApplication1.Models.Driver

@{
    ViewData["Title"] = "Редактировать водителя";
}

<h1 class="mb-3">Редактировать водителя</h1>

<form asp-action="Edit" method="post" class="card p-4">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="Surname" class="form-label required"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label required"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MiddleName" class="form-label"></label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="BirthDate" class="form-label"></label>
        <input asp-for="BirthDate" type="date" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label required"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LicenseNumber" class="form-label required"></label>
        <input asp-for="LicenseNumber" class="form-control" />
        <span asp-validation-for="LicenseNumber" class="text-danger"></span>
    </div>

    @if (Model.DriverStatus == DriverStatuses.Trip)
    {
        <div class="mb-3">
            <label class="form-label">Статус</label>

            <select class="form-select form-select-readonly" disabled>
                <option selected>
                    @Model.DriverStatus.GetDisplayName()
                </option>
            </select>

            @Html.HiddenFor(m => m.DriverStatus)
        </div>
    }
    else
    {
        <div class="mb-3">
            <label asp-for="DriverStatus" class="form-label required"></label>
            <select asp-for="DriverStatus"
                    asp-items="ViewBag.EditableStatuses"
                    class="form-select">
            </select>
            <span asp-validation-for="DriverStatus" class="text-danger"></span>
        </div>
    }

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>