@model WebApplication1.Models.Truck
@{
    ViewData["Title"] = "Редактировать грузовик";
}

<h1 class="mb-3">Редактировать грузовик</h1>

<form asp-action="Edit" method="post" class="card p-4">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="mb-3">
        <label asp-for="Brand" class="form-label"></label>
        <input asp-for="Brand" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="Model" class="form-label"></label>
        <input asp-for="Model" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="PlateNumber" class="form-label"></label>
        <input asp-for="PlateNumber" class="form-control"/>
    </div>

    @if (Model.TruckStatus == TruckStatuses.InTrip)
    {
        <div class="mb-3">
            <label class="form-label">Статус</label>

            <select class="form-select form-select-readonly" disabled>
                <option selected>
                    @Model.TruckStatus.GetDisplayName()
                </option>
            </select>

            @Html.HiddenFor(m => m.TruckStatus)
        </div>
    }
    else
    {
        <div class="mb-3">
            <label asp-for="TruckStatus" class="form-label"></label>
            <select asp-for="TruckStatus"
                    asp-items="ViewBag.EditableStatuses"
                    class="form-select">
            </select>
            <span asp-validation-for="TruckStatus" class="text-danger"></span>
        </div>
    }

    <button class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>